@import 'normalize.css';
@import 'typography.css';
@import 'colors.css';
@import 'border-radius.css';

@import "components/header.css";
@import "components/button.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: var(--primary-black);
}

.container {
    max-width: 1408px;
    margin: 0 auto;

    @media (width <= 1440px) {
        max-width: 992px;
    }

    @media (width <= 1024px) {
        max-width: unset;
        margin-inline: 16px;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
